footer {
  display: flex;
  /* background-color: #f28500; */
  background-color: #078c6e;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0 30px 0;
}

footer > section {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > section > h2 {
  font-family: "Redressed", cursive;
  margin-left: 10px;
}

footer > p {
  font-size: 16px;
}

footer > p > a {
  color: #fff;
}
