@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");

body,
button {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.about-page {
  display: flex;
  height: 70vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-section {
  position: relative;
  top: 20px;
}

@media (max-width: 480px) {
  .summary-detail {
    width: 90%;
  }

  .wishlist-section {
    padding: 10px;
  }
}
